<h1>Login in</h1>
<form action="/auth/login" method="post">
    <input type="text"  name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password" ><br>
    <button type="submit">Submit</button>
</form>